<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">All Users List</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of UsersList; track $index) {
                        <tr>
                            <td>{{ item.fullName }}</td>
                            <td>{{ item.emailId }}</td>
                            <td>{{ item.mobileNo }}</td>
                            <td>{{ item.password }}</td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>